.register-container {
  min-height: 100vh;
}

.register-card {
  width: 400px;
  border-radius: 15px;
}

.form-control {
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
}

.text-success {
  font-weight: 600;
}
